<div class="container">
    <div class="controls">
        <button type="button" class="syncButton btn btn-default btn-success">Sync</button>
        <button type="button" class="processOrders btn btn-default btn-primary">Process <span class="newCount">?</span> Orders</button>
        <button type="button" class="generateLabels btn btn-default btn-warning">Generate <span class="readyCount">?</span> Labels</button>
        <span class="balance"></span>
        <span class="shippingcost"></span>
    </div>

    <div class="orderList"></div>
</div>
